<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bd_unidad9GridViewConnectionString" connectionString="Data Source=EQUIPO04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bd_unidad9GridViewConnectionString2" connectionString="Data Source=EQUIPO04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bd_unidad9GridViewConnectionString3" connectionString="Data Source=Equipo04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bd_unidad9GridViewConnectionString4" connectionString="Data Source=Equipo04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bd_unidad9GridViewConnectionString5" connectionString="Data Source=Equipo04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bd_unidad9GridViewConnectionString6" connectionString="Data Source=Equipo04;Initial Catalog=bd_unidad9GridView;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>